#app-body {
  height: 1050px;
  width: 100%;
  background-image: url("./images/49ersstadium.jpg");
  background-blend-mode: overlay;
  /* opacity: 0.6; */
}

#main-title{
  color:white;
  padding:20px;
  /* margin: 10px; */
  font-size: 60px;
  font-family: 'Permanent Marker', cursive;
}

.nav-bar-links{
  display: inline;
  padding:10px;
  border-radius: 5px;
  margin: 5px;
  text-align: right;
  text-decoration: none;
  color:white;
}

.nav-bar-link-text{
  color:white;
  text-decoration:"none";
  font-size: 35px;
  font-family: 'Permanent Marker', cursive;
}

.nav-bar-link-text:hover{
  color:RGB(170, 0, 0);
  text-decoration:"none";
  font-size: 35px;
  font-family: 'Permanent Marker', cursive;
}

#home-body p{
  font-family: 'Archivo Black', sans-serif;
  color:white;
  font-size: 30px;
  
}

#home-container{
  font-family: 'Archivo Black', sans-serif;
  margin-top: 49px;
  text-align: center;
}

.home-descriptions{
  color: black;
  text-align: center;
  font-size: 20px;
}

ul{
  list-style-type: none;  
}

#tweet-column{
  position:relative;
}

#schedule-column{
  position:relative;
  padding-left: 50px;
}

#stat-column{
  position:relative;
  padding-left: 30px;
}


#tweet-card{
  background-color: white;
  font-family:'twitterfont';
  font-size: 15px;
}

#tweet-body{
  padding-top: 10px;
}

#profile-photo{
  padding: 10px
}

#twitter-name{
  margin-bottom:-13px;
}

#bold-name{
  font-weight: bold;
}

.grey{
  color:grey;
}

.icon{
  margin-right:50px;
  color:gray;
  font-family:'twitterfont';
  font-size: 13px;
}

.icon-image{
  padding-right: 9px;
  padding-bottom: 4px;
}

/* #icon-bar{
  display: inline;
  align-items: center;
} */

.account-list{
  font-family:'twitterfont';
  background-color: white;
  padding:20px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.account-list-name{
  border: solid 1px;
  border-radius: 5px;
  margin-bottom: 6px;
  text-align: center;
}

.button{
  display: flex;
  justify-content: left;
  margin-bottom: -24px;
  border:1px solid white;
  border-radius: 5px;
  background-color: white;
  padding:-10px;
}



@font-face {
  font-family:'twitterfont';
  src: url(./fonts/twitterfont.woff) format('woff');
}
/* font-family: 'Archivo Black', sans-serif;
font-family: 'Permanent Marker', cursive; */